nav {
    background-color: lightgray;
}

.container {
    display: flex;
    justify-content: flex-end;
    
}

.container ul {
    list-style-type: none;

}

.container li {
    display: inline-flex;

}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

img {
    width: 200px;
    border: 5px solid black;
    margin: 90px 90px 0 90px

}

#lilith {
    margin-left: 610px;
}

.captions {
    display: flex;
    justify-content: center;
}

.captions p {
    margin-left: 125px;
    margin-right: 190px;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
}

footer p {
    margin-left: auto;
    margin-right: auto;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}